# **I. Perkenalan**

***
Graded Challenge 6 - Clustering

Nama  : Catherine Kezia Wijaya
Batch : RMT-037

File ipynb ini berisi pengecekan performa prediksi model clustering K-Means yang sudah dibuat di file P1G6_Set_1_catherine_kezia, pada data baru
***

# **I. Import Libraries**

In [1]:
# Import Libraries
import json
import pickle
import pandas as pd

# **II. Model Loading**

In [2]:
# Load list of numerical columns
with open('list_num_cols.txt', 'r') as file_1:
    num_cols = json.load(file_1)
# Load scaler
with open('scaler.pkl', 'rb') as file_2:
    scaler = pickle.load(file_2)
# Load PCA
with open('pca.pkl', 'rb') as file_3:
    pca = pickle.load(file_3)
# Load KMeans model
with open('kmeans.pkl', 'rb') as file_4:
    km = pickle.load(file_4)

# **III. Data Inference**

In [3]:
data_inf = {
    'CUST_ID': 2500,
    'BALANCE': 15000,
    'BALANCE_FREQUENCY': 0.5,
    'PURCHASES': 300,
    'ONEOFF_PURCHASES': 600,
    'INSTALLMENTS_PURCHASES': 500,
    'CASH_ADVANCE': 800,
    'PURCHASES_FREQUENCY': 0.7,
    'ONEOFF_PURCHASES_FREQUENCY': 0.5,
    'PURCHASES_INSTALLMENTS_FREQUENCY': 0.6,
    'CASH_ADVANCE_FREQUENCY': 0.5,
    'CASH_ADVANCE_TRX': 300,
    'PURCHASES_TRX': 100,
    'CREDIT_LIMIT': 20000,
    'PAYMENTS': 1500,
    'MINIMUM_PAYMENTS': 500,
    'PRC_FULL_PAYMENT': 0.4,
    'TENURE': 12
}

# Membuat DataFrame inference
data_inf = pd.DataFrame([data_inf])
data_inf

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,2500,15000,0.5,300,600,500,800,0.7,0.5,0.6,0.5,300,100,20000,1500,500,0.4,12

In [4]:
def predict(data):
    """
    Fungsi untuk mempreproses data yang masuk supaya sesuai dengan kebutuhan model,
    dan diprediksi pengelompokkanya oleh model K-Means yang telah dibuat
    """
    # Ambil kolom yang dibutuhkan model
    data_num = data[num_cols].copy()
    # isi Nan dengan 0
    data_num = data_num.fillna(0)
    # Scaler MinMax
    data_scaled = scaler.transform(data_num)
    # Apply PCA
    data_pca = pca.transform(data_scaled)
    # Predict
    cluster_prediction = km.predict(data_pca)[0]
    label = ""
    #Pemberian label
    if cluster_prediction == 4:
        label = "Saldo Rendah dan Pembelian Sedang"
    elif cluster_prediction == 3:
        label = "Pembelian Rendah dan Kapasitas Kredit Cukup"
    elif cluster_prediction == 2:
        label = "Kurang Aktif dengan Pembelian dan Saldo Rendah"
    elif cluster_prediction == 1:
        label = "Aktif dengan Pembelian dan Pembayaran Penuh"
    else:
        label = "Kapasitas Kredit Tinggi dan Penggunaan Uang Tunai"
    
    return cluster_prediction, label

In [7]:
# Predict:
cluster, result = predict(data_inf)
print(f"cluster: {cluster}")
print(f'Prediksi: {result}')

cluster: 0
Prediksi: Kapasitas Kredit Tinggi dan Penggunaan Uang Tunai